{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "sourceMaps": true,
  "retainLines": true,
  "plugins": [
    "transform-function-bind",
    "transform-decorators-legacy"
  ]
}
